doctype html
html
	head
		title graphic keyboard
		link(rel='stylesheet' href='./assets/css/style.css')
	body
		h1 HTML keyboard
		div.wrap
			ol#keyboard
		script(src='./assets/js/common.js')
		script(src='./assets/js/input.js')
		script(src='./assets/js/output.js')
		script(src='./assets/js/script.js')