/**! @license _common.scss by YukiTANABE@PM8.JP | MIT License | PM8.jp */
@import "colors";

.wrap{margin: 0 auto; width: 90%;}
#keyboard{display: flex; flex-flow: row wrap; list-style: none; margin: 0; padding: 0; width: $keyboardWidth;
	li{align-items:flex-end; border:$keyboardBorder; box-sizing: border-box; display: flex; height: $keyboardWholeHeight; justify-content: center; width: $keyWidth;
		&.whole{background-color: $keyboardWholeColor; color: $keyboardWholeTxt;}
		&.semi{background-color: $keyboardSemiColor; color:$keyboardSemiTxt; height:$keyboardSemiHeight; margin-left: -($keyWidth/2); position: relative; z-index: 2;
			&+.whole{margin-left: -($keyWidth/2);}
		}
	}
}