$keyboardWidth:100%;
$keyWidth:($keyboardWidth)/(7*3);
$keyboardBorder:1px solid #000;
$keyboardWholeColor:#fff;
$keyboardWholeTxt:#333;
$keyboardSemiColor:#333;
$keyboardSemiTxt:#fff;
$keyboardWholeHeight:10rem;
$keyboardSemiHeight:$keyboardWholeHeight/2;